In [2]:
import pandas as pd
# Get well data




# Get well meta data
well_meta_data = pd.read_csv('well_meta_data.csv', index_col =0)
well_meta_data['lat'] = well_meta_data.lat.astype(float)
well_meta_data['lon'] = well_meta_data.lon.astype(float) * -1
well_meta_data['Site_ID'] = well_meta_data['well_tag_nr'].str.upper()
kitsap_meta_data = well_meta_data[well_meta_data['county_nm']=='Kitsap']
clean_kitsap_meta_data = kitsap_meta_data.dropna(subset = ['lat','lon','well_depth_qt','well_diameter_qt','well_log_id'])

# get well depths
well_depths=pd.read_csv("KPUD_Well_Depth_2020_04_05.csv", index_col=0)
well_depths.index = pd.to_datetime(well_depths.Date)
well_depths  = well_depths.drop('Date', axis=1)
well_depths['Site_ID'] = well_depths['Well Name'].apply(lambda x: x[:6]).str.upper()
well_depths['Date'] = well_depths.index.values

In [19]:
discharge_data = pd.read_csv('KPUD_2020_04_05.csv')

In [150]:
import numpy as np
import re

all_text = open('scraped_positions.js')
line_list = all_text.readlines()

position_search = np.argwhere(['position' in x for x in line_list])
position_search = position_search.reshape(1,-1)[0]
lat_lons = [re.findall(r'[0-9][0-9.]+', line_list[x]) for x in position_search]
lats = [x[0] for x in lat_lons]
lons = [x[1] for x in lat_lons]

title_search = np.argwhere(['title' in x for x in line_list])
title_search = title_search.reshape(1,-1)[0]
names = [line_list[x].split("'")[1] for x in title_search]

names = pd.Series(names)
lats = pd.Series(lats)
lons = pd.Series(lons)
df_locations = pd.DataFrame([names, lats, lons]).transpose()
df_locations.columns = ['Name','Lat','Lon']
df_locations['Lon'] = df_locations['Lon'].astype(float)
df_locations['Lat'] = df_locations['Lat'].astype(float)
df_locations['Lon'] = df_locations['Lon'] * -1

In [186]:
df_locations['Location_Key']=np.nan
df_locations['Location_Type']=np.nan

df_locations['Location_Key'][:40] = df_locations['Name'][:40].apply(lambda x: x[:2])
df_locations['Location_Type'][:40] = 'Discharge Station'

df_locations['Location_Key'][40:182] =  df_locations['Name'][40:182].apply(lambda x: x[:6])
df_locations['Location_Type'][40:182] ='Well'

df_locations['Location_Key'][182:236] = df_locations['Name'][182:236].apply(lambda x: x[:2])
df_locations['Location_Type'][182:236] ='Rain Gauge'

<ipython-input-186-c321a135a194>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Key'][:40] = df_locations['Name'][:40].apply(lambda x: x[:2])
<ipython-input-186-c321a135a194>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Type'][:40] = 'Discharge Station'
<ipython-input-186-c321a135a194>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Key'][40:182] =  df_locations['Name'][40:182].apply(lambda x: x[:6])
<ipython-input-186-c321a135a194>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Type'][40:182] ='Well'
<ipython-input-186-c321a135a194>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Key'][182:236] = df_locations['Name'][182:236].apply(lambda x: x[:2])
<ipython-input-186-c321a135a194>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_locations['Location_Type'][182:236] ='Rain Gauge'

In [187]:
df_locations.to_csv('KPUD_Locations.csv')

In [104]:
print(len(names))
print(len(lat_lons))

238
238

In [185]:
df_locations[40:182]

,Name,Lat,Lon,Location_Key
40,AAA001--KPUD KEYPORT PRODUCTION WELL 1,47.700758,-122.627431,AAA001
41,AAA002--KPUD KEYPORT PRODUCTION WELL 2,47.684675,-122.633792,AAA002
42,AAA005--U.OF WA.SCH.OF FISHERIES BIG BEEF TEST...,47.644269,-122.782864,AAA005
43,AAA007--HOLLY WATER SYSTEM WELL 1,47.557628,-122.978817,AAA007
44,AAA008--HOLLY WATER SYSTEM WELL 2,47.555519,-122.980400,AAA008
...,...,...,...,...
177,AET413--KPUD BRIDLETREE WELL 2,47.613458,-122.819708,AET413
178,AFC506--KPUD VINLAND WS EDGEWATER WELL 5,47.801681,-122.654133,AFC506
179,AKR190--KPUD DRIFTWOOD COVE 3,47.479133,-122.529425,AKR190
180,ALK129--KPUD N PENINSULA KINGSTON WELL 8,47.805428,-122.506822,ALK129
181,ALK301--KPUD BRIDLETREE WELL 3,47.613222,-122.819722,ALK301

In [115]:
lats = np.array(lats).reshape(-1,1)
lons = np.array(lons).reshape(-1,1)

In [117]:
names = np.array(names).reshape(-1,1)

In [125]:
names

array([['BB--Big Beef Creek near Seabeck'],
       ['BU--Upper Big Beef Creek near Camp Union'],
       ['CC--Clear Creek Main Stem'],
       ['CCSW--Clear Main @ Silverdale Way'],
       ['CT--Chico Trib. @ Taylor Road'],
       ['CU--Curley Creek'],
       ['CW--Clear Creek-West Tributary'],
       ['DC--Dogfish Creek'],
       ['KC--Kitsap Creek @ Lake Outlet'],
       ['OL--Olalla Creek'],
       ['SL--Steele Creek'],
       ['AC--Anderson Creek - Bremerton'],
       ['BA--Barker Creek'],
       ['BC--Burley Creek'],
       ['BL--Blackjack Creek'],
       ['GO--Gold Creek'],
       ['HC--Hansville Creek'],
       ['WC--Wildcat Creek @ Lake Outlet'],
       ['AN--Anderson Creek - Holly'],
       ['CE--Clear Creek-East Tributary'],
       ['CH--Chico Creek-Mainstem'],
       ['DI--Dickerson Creek'],
       ['DR--Dewatto River'],
       ['GA--Gamble Creek'],
       ['GC--Gorst Creek'],
       ['GV--Grovers Creek'],
       ['HE--Heins Creek'],
       ['IL--Illahee Creek, Upper North Fork'],
       ['KL--Kitsap Lake @ Control'],
       ['LJ--Johnson Creek'],
       ['LT--Little Tahuya'],
       ['OC--Karcher Creek'],
       ['MZ--Manzanita Creek'],
       ['PA--Parish Creek'],
       ['SC--Strawberry Creek'],
       ['SE--Seabeck Creek'],
       ['SH--Seabeck Creek off Seabeck Holly Hwy'],
       ['ST--Stavis Creek'],
       ['TR--Tahuya River @ Tahuya'],
       ['UR--Union River'],
       ['AAA001--KPUD KEYPORT PRODUCTION WELL 1'],
       ['AAA002--KPUD KEYPORT PRODUCTION WELL 2'],
       ['AAA005--U.OF WA.SCH.OF FISHERIES BIG BEEF TEST HOLE 2 Upper 8" PERFORATIONS'],
       ['AAA007--HOLLY WATER SYSTEM WELL 1'],
       ['AAA008--HOLLY WATER SYSTEM WELL 2'],
       ['AAA011--KPUD N PENINSULA SOUTH KINGSTON TEST WELL - OBS WELL'],
       ['AAA012--KPUD N PENINSULA KINGSTON WELL 5'],
       ['AAA013--WISE ACRE (ORIGINALLY A PUD WELL CALLED INDIANOLA 5)'],
       ['AAA014--KPUD INDIANOLA WELL 6'],
       ['AAA015--KPUD N PENINSULA GAMBLEWOOD WELL 3 RITTER ROAD'],
       ['AAA016--KPUD N PENINSULA GAMBLEWOOD 1'],
       ['AAA103--KPUD VINLAND WS EDGEWATER WELL 4'],
       ['AAA104--KPUD VINLAND WS WELL 2'],
       ['AAA106--KPUD N PENINSULA KINGSTON WELL 4'],
       ['AAA107--KPUD N PENINSULA KINGSTON WELL 3'],
       ['AAA108--ISLAND UTILITY COMPANY MONITORING WELL (160 feet)'],
       ['AAA109--ISLAND UTILITY COMPANY  WELL 1 (SO-1)'],
       ['AAA110--PRIVATE WELL (FORMERLY KPUD ISLAND CENTER TW)'],
       ['AAA111--KPUD FLETCHER BAY OBSERVATION WELL'],
       ['AAA113--KPUD NORTH BAINBRIDGE WELL 6'],
       ['AAA114--KPUD CAMP DAVID WELL 1'],
       ['AAA120--ANNAPOLIS WD WATAUGA BEACH WELL 2'],
       ['AAA227--WWS ALPINEWOOD WATER SYSTEM WELL 2'],
       ['AAA230--WWS WICKS LAKE 2'],
       ['AAA231--KPUD N PENINSULA HANSVILLE 1'],
       ['AAA235--KPUD SEABECK TEST WELL 1'],
       ['AAA236--WWS PARKVIEW TERRACE, WOODLAND RANCHE Well'],
       ['AAA238--BILL POINT WATER WELL 3'],
       ['AAA304--KPUD YOUNG WATER SYSTEM'],
       ['AAA398--NARDO PRIVATE WELL'],
       ['AAA639--BANIGAN PRIVATE WELL'],
       ['AAA706--KPUD N PENINSULA GAMBLEWOOD 2'],
       ['AAA707--KPUD N PENINSULA KINGSTON WELL 6'],
       ['AAA710--KPUD SUQUAMISH AUGUSTA 3'],
       ['AAA711--KPUD SUQUAMISH BALZOW WELL'],
       ['AAA713--KPUD SUQUAMISH PINE ST WELL 2'],
       ['AAA715--KPUD SUQUAMISH WAGGONER WELL'],
       ['AAA717--KPUD SUQUAMISH LINCOLN ROAD WELL 2'],
       ['AAA718--KPUD SUQUAMISH SUQUAMISH SHORES WELL'],
       ['AAA722--KPUD N PENINSULA JEFFERSON POINT'],
       ['AAA875--KPUD BLUE HERON WATER SYSTEM'],
       ['AAA990--KPUD SEABECK PRODUCTION WELL 3'],
       ['AAB274--WOODLAND HEIGHTS WATER SYSTEM, SHOBERT CONSTRUCTION'],
       ['AAB401--KPUD N PENINSULA KINGSTON WELL 2'],
       ['AAB406--KPUD INDIANOLA WELL 1A'],
       ['AAB407--KPUD INDIANOLA WELL 3'],
       ['AAB408--ECOLOGY NW, WELL NO.2 IN INDIANOLA. NO KNOWN WELL LOG.'],
       ['AAB410--KPUD INDIANOLA WELL 4'],
       ['AAB454--KPUD SUQUAMISH PINE ST DUG WELL'],
       ['AAB455--KPUD NORTH BAINBRIDGE WELL 9'],
       ['AAB458--KPUD VINLAND WS BELA VISTA WELL 1 DECOMMISSIONED 10/9/03'],
       ['AAB459--KPUD VINLAND WS BELA VISTA WELL 2'],
       ['AAB460--US NAVY MANCHESTER FUEL DEPOT USN-5'],
       ['AAB464--WOLFLE ELEM SCHOOL OLD WELL, USED AS A KPUD WATER LEVEL MONITOR'],
       ['AAB471--KPUD ELDORADO HILLS WELL 4'],
       ['AAB476--KPUD ELDORADO HILLS WELL 3'],
       ['AAB478--KPUD VINLAND WS EDGEWATER WELL 2 REPLACEMENT'],
       ['AAB479--KPUD MILLER BAY ESTATES 1'],
       ['AAB526--KPUD VINLAND WS EDGEWATER WELL 2 ORIGINAL'],
       ['AAB533--KPUD BONSELL WATER SYSTEM'],
       ['AAB607--ELLIS TWO PARTY (ORIGINALLY SCOTT)'],
       ['AAC006--DICK LINDBERG'],
       ['AAC079--KPUD N PENINSULA CLIFFSIDE'],
       ['AAC110--KPUD NORTH BAINBRIDGE WELL 10'],
       ['AAC113--KPUD ISLAND UTILITY WELL 2 (SO-2)'],
       ['AAC117--HANSON DUG WELL'],
       ['AAC118--HOSEA'],
       ['AAC119--DEBRUYN'],
       ['AAC318--DRURY PRIVATE WELL, FORMERLY SCHOLD'],
       ['AAC340--KPUD KEYPORT OBSERVATION WELL'],
       ['AAC344--KPUD LONG LAKE 3'],
       ['AAC345--KPUD LONG LAKE 1'],
       ['AAC377--KPUD NEWBERRY HILL WELL 1'],
       ['AAC403--SALSBURY POINT COUNTY PARK WELL 2'],
       ['AAC532--APPLE TREE POINT PARTNERS WELL 2'],
       ['AAC547--JUNE COLLIER PRIVATE WELL'],
       ['AAC558--BAINBRIDGE ISLAND PARKS BATTLE POINT PARK'],
       ['AAC601--KPUD N PENINSULA KINGSTON WELL 7'],
       ['AAC606--BLOEDEL RESERVE DEEP WELL'],
       ['AAC707--DAVE DOLEN GROUP B WELL'],
       ['AAC718--KPUD CEDAR ACRE 5'],
       ['AAC720--KPUD HANSVILLE HWY MUD-ROTARY TEST WELL'],
       ['AAC759--BLOEDEL RESERVE FARM WELL'],
       ['AAC799--KPUD SEABECK TEST WELL 2'],
       ['AAC807--KPUD GREEN MOUNTAIN ELEM SCHOOL CK SCH.DIST.'],
       ['AAC809--ANDERSON, PREVIOUSLY SMITH'],
       ['AAC820--SEBREN'],
       ['AAC824--KPUD DRIFTWOOD COVE 2'],
       ['AAC825--CHRISTIAN LIGHTHOUSE WELL'],
       ['AAC826--KPUD NORTH BAINBRIDGE WELL 1'],
       ['AAC832--KPUD NORTH BAINBRIDGE WELL 8'],
       ['AAC835--SEABECK CONFERENCE CENTER'],
       ['AAC839--KPUD UNION RIVER ACRES'],
       ['ABB943--KPUD PORT GAMBLE PRODUCTION WELL POPE RESOURCE PROPERTY'],
       ['AAS286--KPUD ISLAND UTILITY WELL 3 (S0-3)'],
       ['ABC665--MIGUELO WATER SYSTEM'],
       ['ABE865--KPUD MARLOW WATER SYSTEM CADY WELL 2'],
       ['ABP505--KPUD N PENINSULA KINGSTON FARM'],
       ['ABP540--KPUD GALA PINES WATER SYSTEM'],
       ['ABP933--KPUD SAVANTE WATER SYSTEM'],
       ['ABV298--KPUD SALMONBERRY MONITOR WELL'],
       ['ACC503--WILDCAT LAKE COUNTY PARK'],
       ['ACD351--KPUD KEDROS WATER SYSTEM'],
       ['ACD352--KPUD POULSBO HEIGHTS 1'],
       ['ACD354--KPUD STRAWBERRY HILL WS'],
       ['ACD355--KPUD AVELLANA WATER SYSTEM'],
       ['ACD357--KPUD HARBOR CREST'],
       ['ACD358--KPUD INDIAN HILLS WS INDIAN HILLS WELL'],
       ['ACD373--KPUD MANCHESTER MONITOR WELL'],
       ['ACD374--KPUD NESIKA BAY WELL 1'],
       ['ACD385--KPUD N PENINSULA NEWELLHURST WELL 2'],
       ['ACD855--KPUD BIG CORNER WATER SYSTEM'],
       ['ACG501--KPUD NEWBERRY HILL WELL 2'],
       ['ACG504--KPUD BRIDLETREE WELL 1'],
       ['ACG506--KPUD CLEAR CREEK TEST WELL'],
       ['ACK364--SOUTH BAINBRIDGE WATER SYSTEM WELL 7'],
       ['ACK368--KPUD STAVIS CREEK WATER SYSTEM WELL 3'],
       ['ACK369--KPUD ECHO VALLEY WATER SYSTEM'],
       ['ACK371--KPUD KLAHANIE WATER SYSTEM'],
       ['ACK372--KPUD AIRPORT PARK WELL 1, SHALLOW WELL'],
       ['ACK373--KPUD AIRPORT PARK WELL 2 DEEP WELL'],
       ['ACK457--KPUD NAVY YARD PARK 3 REPLACEMENT FOR WELL 2'],
       ['ACR352--KPUD FROG POND WELL 1'],
       ['ACR353--KPUD FROG POND WELL 2_NEW'],
       ['ACR354--KPUD FROG POND WELL 3'],
       ['ACD354--KPUD STRAWBERRY HILL WS'],
       ['ACR355--KPUD FROG POND WELL 4'],
       ['ACR356--KPUD FROG POND WELL 5'],
       ['ACW030--SOUTH BAINBRIDGE WATER CO WELL 8'],
       ['AEC948--KPUD INDIANOLA WELL 7'],
       ['AEK852--KPUD NORTH BAINBRIDGE WELL 7'],
       ['AEK853--KPUD NORTH BAINBRIDGE WELL 3'],
       ['AES172--PIONEER HILL WEST COMM. ASSOC.'],
       ['AES249--PITMAN'],
       ['AES259--KPUD INDIAN HILLS WS LEMOLO ACRES WELL'],
       ['AES313--KPUD PRIDDY VISTA WS WELL 1'],
       ['AES315--PORT GAMBLE WATER SYSTEM WELL 2'],
       ['AET413--KPUD BRIDLETREE WELL 2'],
       ['AFC506--KPUD VINLAND WS EDGEWATER WELL 5'],
       ['AKR190--KPUD DRIFTWOOD COVE 3'],
       ['ALK129--KPUD N PENINSULA KINGSTON WELL 8'],
       ['ALK301--KPUD BRIDLETREE WELL 3'],
       ['01--Kitsap PUD'],
       ['03--Indianola - Miller Bay'],
       ['04--City of Poulsbo - Big Valley Well Site'],
       ['05--Bloedel Reserve - Shop'],
       ['06--Bremerton National Airport-Old'],
       ['08--BWU - Olympus Drive'],
       ['09--BREMERTON, WASHINGTON'],
       ['10--Fish Pro - Burley'],
       ['12--Sakai Intermediate School'],
       ['13--Coulter Creek Hatchery'],
       ['15--Poulsbo - Private'],
       ['16--SWD - Dawn Park'],
       ['18--BWU - Gorst @ Domsea'],
       ['22--Grovers Creek Hatchery'],
       ['24--Hansville'],
       ['25--Holly Beach Club'],
       ['26--Illahee - Private'],
       ['27--Port Orchard - Private'],
       ['28---Port of Kingston - Port Office'],
       ['31--BWU - McKenna Falls'],
       ['32--Meadowmeer Golf Course'],
       ['34--Olalla - Private'],
       ['35--Port Gamble'],
       ['36--Poulsbo Public Works-Office'],
       ['37--Scenic Beach State Park @ Seabeck'],
       ['38--Seabeck - Private'],
       ['39--SWD - Wixon Site'],
       ['40--Stavis Bay - Private'],
       ['41--Tracyton - Private'],
       ['42--BWU - Twin Lakes @ Well #20'],
       ['46--Hansville Road - Private'],
       ['49--West Sound Utility District'],
       ['50--WA Water Company - Purdy'],
       ['51--SWD - Nels Nelson @ East End'],
       ['52--SWD - Crista Camp @ Island Lake'],
       ['53--Gala Pines Weather Station-Poulsbo (Click for real time data)'],
       ['56--Indianola - Private'],
       ['59---Edgewater Industrial Park'],
       ['61--BA - SSWM (Bremerton National Airport)'],
       ['62--SW - SSWM (Silverdale-Wixon Site)'],
       ['63--AP - SSWM (Airport Park)'],
       ['64--Purdy - Private'],
       ['65--Theler Center'],
       ['66--Sunny Cove'],
       ['67--Bridletree'],
       ['68--Hansville Road - Private'],
       ['70--Kitsap County Fairgrounds Pavilion - Bremerton'],
       ['71--Kitsap County Central Road Shed'],
       ['72--Kitsap County South Road Shed'],
       ['74--Hansville Recycling and Garbage Facility'],
       ['75--Suquamish Village'],
       ['76--RAGF'],
       ['77--BWU – Oyster Bay '],
       ['78--South Bainbridge Island '],
       ['Purdy Road Shop (Pierce County Weather Station)'],
       ['Longbranch Marina (Pierce County Weather Station)']],
      dtype='<U75')

In [124]:
pd.DataFrame(names,lats, lons)

ValueError: Shape of passed values is (238, 1), indices imply (238, 238)

In [81]:
re.findall(r'[0-9]+,[0-9]+', result_list[1])

['47.5931', '122.837']

In [79]:
(filter(str.isdigit, result_list[1]))

['4', '7', '5', '9', '3', '1', '1', '2', '2', '8', '3', '7']

In [57]:
indeces[0][0]

40

In [18]:
selected_site = clean_kitsap_meta_data.iloc[0,:]['Site_ID']

well_mask = well_depths['Site_ID'] == selected_site
selected_well = well_depths[well_mask]
well_data = selected_well['Water Level +/- MSL']
well_name = selected_well['Well Name'][0][8:]

'KPUD KEYPORT PRODUCTION WELL 1'

In [48]:
well_meta_data = pd.read_csv('well_meta_data.csv')
clean_well_meta = well_meta_data.dropna(subset = ['lat','lon','well_depth_qt','well_diameter_qt','well_log_id'])

In [49]:
clean_well_meta.iloc[60,:]

Unnamed: 0                         76
well_log_id                    278929
well_tag_nr                    AAC606
nit_id_nr                         NaN
well_depth_qt                    1233
well_diameter_qt                    8
well_owner_nm         BLOEDEL RESERVE
township_nr                        26
range_nr                            2
range_dir_cd                        E
section_nr                         33
qtr_section_cd                     NE
qtr_qtr_section_cd                 NW
well_comp_dt                      NaN
county_nm                      Kitsap
well_type_cd                        W
well_log_recv_dt                  NaN
tax_parcel_nr                     NaN
ST_PLANE_XCOORD_NR        1.13552e+06
ST_PLANE_YCOORD_NR             871990
lat                           47.7063
lon                           122.551
Name: 76, dtype: object

In [45]:
select_mask = well_depths['Site_ID'] == well_meta_data['Site_ID'][0]
well_depths[select_mask]

,Time,AM-PM,Water Level +/- MSL,Well Elevation,Well Name,Site_ID,Date
Date,,,,,,,
1975-07-14,12:00:00,AM,42.80,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,1975-07-14
1990-11-14,8:55:00,AM,35.16,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,1990-11-14
1991-01-11,7:30:00,AM,37.47,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,1991-01-11
1991-03-27,7:40:00,AM,37.47,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,1991-03-27
1991-04-22,7:35:00,AM,37.47,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,1991-04-22
...,...,...,...,...,...,...,...
2019-08-06,10:15:00,AM,3.10,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,2019-08-06
2019-09-04,12:00:00,AM,3.50,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,2019-09-04
2019-10-03,10:25:00,AM,3.10,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,2019-10-03
2019-12-06,1:30:00,PM,2.80,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,2019-12-06
2020-02-06,1:00:00,PM,2.40,13.0,AAA001 KPUD KEYPORT PRODUCTION WELL 1,AAA001,2020-02-06

In [38]:
len(well_meta_data['Site_ID'].unique())

103

In [37]:
len(well_meta_data['well_tag_nr'].unique())

105

In [39]:
well_meta_data

,well_log_id,well_tag_nr,nit_id_nr,well_depth_qt,well_diameter_qt,well_owner_nm,township_nr,range_nr,range_dir_cd,section_nr,...,well_comp_dt,county_nm,well_type_cd,well_log_recv_dt,tax_parcel_nr,ST_PLANE_XCOORD_NR,ST_PLANE_YCOORD_NR,lat,lon,Site_ID
0,66892,AAA001,NaN,746.0,16.0,KITSAP COUNTY P U D #1,26,1,E,36,...,07/03/1975,Kitsap,W,NaN,NaN,1117063.0,869911.0,47.699297,-122.625306,AAA001
1,1007889,AAA001,D004981,20.0,10.0,Consolidated Diking Improvement #3,8,2,W,35,...,03/03/2015,Cowlitz,W,02/02/2015,NaN,1033868.0,302471.0,46.137552,-122.893067,AAA001
2,1928545,aaa001,de01223,13.0,13.0,JETRO CASH & CARRY RESTURANT DEPOT,27,5,E,34,...,11/24/2019,King,R,11/25/2019,NaN,NaN,NaN,NaN,NaN,AAA001
3,66895,AAA002,NaN,1032.0,20.0,KITSAP COUNTY P.U.D.,25,1,E,2,...,NaN,Kitsap,W,10/24/1988,NaN,1114221.0,864701.0,47.684811,-122.636268,AAA002
4,1007890,AAA002,D004981,20.0,10.0,Consolidated Diking Improvement #3,8,2,W,35,...,03/03/2015,Cowlitz,W,02/02/2015,NaN,1033868.0,302471.0,46.137552,-122.893067,AAA002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,368026,AHB466,W168675,71.0,6.0,STEVE VELIE,27,2,E,26,...,05/27/2003,Kitsap,W,08/11/2003,262702-2-033-2000,1144330.0,909205.0,47.808929,-122.518709,AHB466
125,452831,AKR190,W189602,135.0,8.0,PUD NO 1 OF KITSAP CO,23,2,E,15,...,06/22/2006,Kitsap,W,08/29/2006,152302-4-012-2008,1139172.0,788485.0,47.477760,-122.527067,AKR190
126,549360,ALK129,W238916,440.0,16.0,KITSAP CO PUD 1,27,2,E,26,...,04/04/2007,Kitsap,W,09/22/2008,262702-1-046-2007,1146949.0,907810.0,47.805290,-122.507912,ALK129
127,727423,ALK301,W238906,743.0,12.0,KITSAP PUD,25,1,W,33,...,09/08/2006,Kitsap,W,06/10/2011,NaN,1068774.0,839473.0,47.612167,-122.817665,ALK301
128,895070,BHN761,RE08832,90.0,6.0,POPE RESOUORCES | GOLDER ASSOCIATES,27,2,E,7,...,08/22/2013,Kitsap,R,12/12/2013,NaN,1126431.0,922463.0,47.843978,-122.592942,BHN761